<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleAboutSchool.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
    <div class="topnav">
        <div class="topnav-right">
            <a href="/loginStudent">دخول</a>
            <a class="active" href="/aboutSchool">عن المدرسة</a>
            <a href="/contact">اتصل معنا</a>
            <a href="/index">الصفحة الرئيسية</a>
        </div>
    </div>

    <div style="text-align: center;">
        <iframe style="float: center;" width="600" height="350"
        src="https://www.youtube.com/embed/wBak1yU7jfs" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>



    <div class="container">

        <p>أكاديمية الميقات هي أكاديمية علمية اسلامية تربوية متخصصة من مرحلة الروضه حتى الصف العاشر للذكور والاناث (
            غير مختلطة) تأسست عام 2008 <br><br></p>

        <p>: من أهم ميزات الأكاديمية<br><br> دروس خاصة في العلوم الشرعية - <br> توفركادر اشرافي اداري وتربوي متخصص -
            <br> استخدام أمن للانترنت في العملية االتعليمية - <br> ساحات مدرسية تزيد عن 1750 م مربع غير مختلطة -
            <br>
            باصات حديثة - <br> استخدام الالواح الذكية في العملية التعليمية - <br>
            التركيز على تعلم اللغة الانجليزية وتدريس كلا من -<br>الرياضيات والعلوم للمراحل التأسيسية</p>

        <p>/ موقعنا :- عمان/ طبربور/ حي الشهيد الجنوبي بالقرب# <br> من صالة العلالي نزول عين غزال </p>
        <p>.أبجد هوز حطى كلمن هوى ، إجراءات المراقبة المعززة. التوازن ، الاحتياجا</p>


        </div>


    </div>

</body>

</html>