<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleContact.css">
</head>

<body>
    <div class="container">

        <nav>

            <a href="/index">الصفحة الرئيسية</a>
            <a href="/contact">اتصل معنا</a>
            <a href="/aboutSchool">عن المدرسة</a>
            <a href="/loginStudent">دخول</a>

        </nav>

        <header>
            <img src="images/picture-login.jpg" alt="school pic" width="600" height="350">
        </header>


        <main>

            <p> نستقبلكم من الاحد الى الخميس من الساعة 9 صباحا حتى الساعة 3 عصرا </p>

            <p>
                موقعنا :- عمان/ طبربور/ حي الشهيد الجنوبي بالقرب من صالة العلالي نزول عين غزال
            </p>

            <p>نسعد بتواصلكم معنا: 065058666 / 0795311464 <br> <a
                    href="mailto:miqate.gm@gmail.com">miqate.gm@gmail.com</a> :البريد الإلكتروني</p>
            <p></p>

        </main>
        /<section class="pic">
            <img src="images/picuture-aboutus.jpg" alt="picuture-aboutus" height="300" width="1000">
        </section>
    </div>
</body>

</html>