<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styleContact.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
    <div class="topnav">
        <div class="topnav-right">
            <a href="/loginStudent">دخول</a>
            <a href="/aboutSchool">عن المدرسة</a>
            <a class="active" href="/contact">اتصل معنا</a>
            <a href="/index">الصفحة الرئيسية</a>
        </div>
    </div>
    <div class="w3-container" style="text-align: center; width: 100%; padding: 2%;">

        <img src="images/picture-login.jpg" alt="school pic" width="500" style="width: 100%; height: auto; max-width: 400px;">

    </div>
    <div class="w3-container" style="text-align: center; float: center;">
        <p style="font-size: 25px;"> نستقبلكم من الاحد الى الخميس من الساعة 9 صباحا حتى الساعة 3 عصرا </p>

        <p style="font-size: 25px;">
            موقعنا :- عمان/ طبربور/ حي الشهيد الجنوبي بالقرب من صالة العلالي نزول عين غزال
        </p>

        <p style="font-size: 25px;">نسعد بتواصلكم معنا: 065058666 / 0795311464 <br> <a href="mailto:miqate.gm@gmail.com">miqate.gm@gmail.com</a>
            :البريد الإلكتروني</p>
        <p></p>
    </div>
</body>

</html>