<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
    <div class="topnav">
        <div class="topnav-right">
            <a href="/loginStudent">دخول</a>
            <a href="/aboutSchool">عن المدرسة</a>
            <a href="/contact">اتصل معنا</a>
            <a class="active" href="/index">الصفحة الرئيسية</a>
        </div>
    </div>
    <div class="container">
        <img src="images/37288340_2102759249734232_8087716000130138112_n.jpg" alt="school pic" width="100%">
    </div>


    <div class="w3-container">
        <h1>أهلاً وسهلا</h1>
        <p>
            روضة ومدارس اكاديمية الميقات الاسلامية ترحب بكم في المنصه الالكتروني وتمني لكم كل التوفيق والنجاح
        </p>
    </div>


</body>

</html>