<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style1.css">
</head>

<body>

    <div class="container">

        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/index" style="color: orange;">Log Out</a>
                </li>
            </ul>
        </nav>
        <header>

        </header>

        <main>
            <div id="wrapper">
                <div id="one" class="card" style="width: 200px; float:left">
                    <a href="/subjects/maths/female/math10" class="btn btn-primary">class 1</a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/earth.jpeg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/earth_science/female/earthscience10" class="btn btn-primary">class 2</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/biology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/biology/female/biology10" class="btn btn-primary">class 3</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/chemestry.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/chemestry/female/chem10" class="btn btn-primary">class 4</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/female/arabic10" class="btn btn-primary">class 5</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/female/computer10" class="btn btn-primary">class 6</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/vocational.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/vocational/female/vocational10" class="btn btn-primary">class 7</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/female/english10" class="btn btn-primary">class 8</a>
                </div>
                <div id="ten" class="card" style="width: 200px;float: left;">
                    <img src="/images/physics.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/physics/female/physics10" class="btn btn-primary">class 9</a>
                </div>
                <div id="11" class="card" style="width: 200px;float: left;">
                    <img src="/images/economy.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/economy/female/economy10" class="btn btn-primary">class 10</a>
                </div>
            </div>
        </main>
        <footer>

        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>