<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Login" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleLogin.css">
</head>

<body>
    <header>
        <img src="/images/37288340_2102759249734232_8087716000130138112_n.jpg" alt="logo">
    </header>
    <div class="container mt-4" style="width: 700px;">
        <%- include ('partials/messages.ejs'); -%>
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form action="/auth/addSubjects" method="POST">
                    <div class="form-group">
                        <label for="subjects">add Subjects</label>
                        <input type="text" class="form-control" id="subjects" name="subjects">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <div style="text-align: right;">
                    <button class="btn btn-primary" onclick="window.location.href='/register'">Continue</button>
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>