<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background-image: url(images/background.jpg);">

    <div class="container">

        <header>
            <img src="images/37288340_2102759249734232_8087716000130138112_n.jpg" alt="school pic" width="350"
                height="350">
        </header>

        <main>
            <h1>أهلاً وسهلا</h1>
            <p>
                روضة ومدارس اكاديمية الميقات الاسلامية ترحب بكم في المنصه الالكتروني وتمني لكم كل التوفيق والنجاح
            </p>
        </main>

        <nav>

            <a href="/index">الصفحة الرئيسية</a>
            <a href="/contact">اتصل معنا</a>
            <a href="/aboutSchool">عن المدرسة</a>
            <a href="/loginStudent">دخول</a>

        </nav>


        <section class="imageIndex">
            <img src="images/picture-start.jpg" alt="picture-start" width="600" height="500">
        </section>

        <footer>
            <p></p>
        </footer>
    </div>
</body>

</html>