<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style1.css">
</head>

<body>

    <div class="container">

        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/auth/logout" style="color: orange;">Log Out</a>
                </li>
            </ul>
        </nav>


        <main>
            <% if(teacherClass6 != '') { %>
            <div id="wrapper" style="padding-top: 52px;">

                <div style="font-size:50px;color: azure;">Male</div>
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/math6" target="_blank" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/science6" target="_blank" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/male/islam6" target="_blank" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/male/sociology6" target="_blank" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/male/arabic6" target="_blank" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/male/computer6" target="_blank" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/vocational.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/vocational/male/vocational6" target="_blank" class="btn btn-primary">المهني</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/male/english6" target="_blank" class="btn btn-primary">English</a>
                </div>
                <div id="12" class="card" style="width: 200px;float: left;">
                    <img src="/images/history.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/history/male/history6" target="_blank" class="btn btn-primary">تاريخ</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/geo.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/geo/male/geo6" target="_blank" class="btn btn-primary">جغرافيا</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/jordan.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/nation/male/nation6" target="_blank" class="btn btn-primary">وطنية</a>
                </div>
                <% } %>
            </div>
            <% if(teacherClass6 != '') { %>
            <div id="wrapper" style="padding-top: 250px; padding-bottom: 25px;">

                <div style="font-size:50px; color: azure;" class="gender" style="text-align: left;">Female</div>
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/math6" target="_blank" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/science6" target="_blank" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/female/islam6" target="_blank" class="btn btn-primary">التربية
                        الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/female/sociology6" target="_blank"
                        class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/female/arabic6" target="_blank" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/female/computer6" target="_blank" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/vocational.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/vocational/female/vocational6" target="_blank" class="btn btn-primary">المهني</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/female/english6" target="_blank" class="btn btn-primary">English</a>
                </div>
                <div id="12" class="card" style="width: 200px;float: left;">
                    <img src="/images/history.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/history/female/history6" target="_blank" class="btn btn-primary">تاريخ</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/geo.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/geo/female/geo6" target="_blank" class="btn btn-primary">جغرافيا</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/jordan.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/nation/female/nation6" target="_blank" class="btn btn-primary">وطنية</a>
                </div>
                <% } %>
            </div>
            <% if(male != '') { %>
            <div id="wrapper" style="padding-top: 52px;">
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/math6" target="_blank" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/science6" target="_blank" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/male/islam6" target="_blank" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/male/sociology6" target="_blank" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/male/arabic6" target="_blank" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/male/computer6" target="_blank" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/vocational.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/vocational/male/vocational6" target="_blank" class="btn btn-primary">المهني</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/male/english6" target="_blank" class="btn btn-primary">English</a>
                </div>
                <div id="12" class="card" style="width: 200px;float: left;">
                    <img src="/images/history.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/history/male/history6" target="_blank" class="btn btn-primary">تاريخ</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/geo.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/geo/male/geo6" target="_blank" class="btn btn-primary">جغرافيا</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/jordan.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/nation/male/nation6" target="_blank" class="btn btn-primary">وطنية</a>
                </div>
                <% } %>
            </div>
            <% if(female != '') { %>
            <div id="wrapper" style="padding-top: 90px; padding-bottom: 25px;">

                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/math6" target="_blank" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/science6" target="_blank" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/female/islam6" target="_blank" class="btn btn-primary">التربية
                        الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/female/sociology6" target="_blank"
                        class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/female/arabic6" target="_blank" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/female/computer6" target="_blank" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/vocational.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/vocational/female/vocational6" target="_blank" class="btn btn-primary">المهني</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/female/english6" target="_blank" class="btn btn-primary">English</a>
                </div>
                <div id="12" class="card" style="width: 200px;float: left;">
                    <img src="/images/history.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/history/female/history6" target="_blank" class="btn btn-primary">تاريخ</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/geo.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/geo/female/geo6" target="_blank" class="btn btn-primary">جغرافيا</a>
                </div>
                <div id="13" class="card" style="width: 200px;float: left;">
                    <img src="/images/jordan.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/nation/female/nation6" target="_blank" class="btn btn-primary">وطنية</a>
                </div>
                <% } %>
        </main>
        <footer>

        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>