<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style1.css">
</head>

<body>

    <div class="container">

        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/index" style="color: orange;">Log Out</a>
                </li>
            </ul>
        </nav>
        <header>

        </header>

        <main>
            <% if(teacherClass3 != '') { %>
            <div id="wrapper" style="padding-bottom: 50px;">
                
                <div style="font-size:50px;color: azure;">Male</div>
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/math3" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/science3" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/male/islam3" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/male/sociology3" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/male/arabic3" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/male/english3" class="btn btn-primary">English</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/male/computer3" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/scienceen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/scienceEn3" class="btn btn-primary">Science</a>
                </div>
                <div id="ten" class="card" style="width: 200px;float: left;">
                    <img src="/images/mathen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/mathen3" class="btn btn-primary">Math</a>
                </div>
                <% } %>
            </div>
            <% if(teacherClass3 != '') { %>
            <div id="wrapper">
                
                <div style="font-size:50px; color: azure;" class="gender" style="text-align: left;">Female</div>
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/math3" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/science3" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/female/islam3" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/female/sociology3" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/female/arabic3" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/female/english3" class="btn btn-primary">English</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/female/computer3" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/scienceen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/scienceEn3" class="btn btn-primary">Science</a>
                </div>
                <div id="ten" class="card" style="width: 200px;float: left;">
                    <img src="/images/mathen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/mathen3" class="btn btn-primary">Math</a>
                </div>
                <% } %>
            </div>
            <% if(male != '') { %>
            <div id="wrapper" style="padding-bottom: 50px;">
                
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/math3" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/science3" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/male/islam3" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/male/sociology3" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/male/arabic3" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/male/english3" class="btn btn-primary">English</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/male/computer3" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/scienceen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/science/male/scienceEn3" class="btn btn-primary">Science</a>
                </div>
                <div id="ten" class="card" style="width: 200px;float: left;">
                    <img src="/images/mathen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/male/mathen3" class="btn btn-primary">Math</a>
                </div>
                <% } %>
            </div>
            <% if(female != '') { %>
            <div id="wrapper">
                <div id="one" class="card" style="width: 200px; float:left">
                    <img src="/images/math.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/math3" class="btn btn-primary">رياضيات </a>
                </div>
                <div id="two" class="card" style="width: 200px;float: left;">
                    <img src="/images/science.jpg" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/science3" class="btn btn-primary">علوم</a>
                </div>
                <div id="three" class="card" style="width: 200px;float: left;">
                    <img src="/images/islam.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/islam/female/islam3" class="btn btn-primary">التربية الإسلامية</a>
                </div>
                <div id="four" class="card" style="width: 200px;float: left;">
                    <img src="/images/sociology.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/sociology/female/sociology3" class="btn btn-primary">اجتماعيات</a>
                </div>
                <div id="six" class="card" style="width: 200px;float: left;">
                    <img src="/images/arabic.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/arabic/female/arabic3" class="btn btn-primary">اللغه العربيه</a>
                </div>
                <div id="seven" class="card" style="width: 200px;float: left;">
                    <img src="/images/english.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/english/female/english3" class="btn btn-primary">English</a>
                </div>
                <div id="eight" class="card" style="width: 200px;float: left;">
                    <img src="/images/computer.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/computer/female/computer3" class="btn btn-primary">حاسوب</a>
                </div>
                <div id="nine" class="card" style="width: 200px;float: left;">
                    <img src="/images/scienceen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/science/female/scienceEn3" class="btn btn-primary">Science</a>
                </div>
                <div id="ten" class="card" style="width: 200px;float: left;">
                    <img src="/images/mathen.jpg" width="320px" height="125px" class="card-img-top" alt="...">
                    <a href="/subjects/maths/female/mathen3" class="btn btn-primary">Math</a>
                </div>
                <% } %>
            </div>
    </div>

    </main>
    <footer>

    </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>